body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: left;
}

.ann {
  width:150px;
  height:150px;
  background-size:contain;
  background-position:center;
  border-radius:50%;
  margin-top: 40px;
}

.home, .footer {
  margin: 30px;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
}

.contact {
  margin-top: 5em;
}

.center {
  text-align: center;
}

.largeNav {
  display: none;
}

.nav {
  background-color: #3561D8;
  padding: 5px;
  padding-right: 10px;
  text-align: end;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  position: relative;
}

.navbar #myLinks {
  display: none;
}

.navbar a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}


.active {
  background-color: #292b2c;
  color: white;
}

@media (min-width: 768px) {

.ann {
  width:200px;
  height:200px;

}

.App {
  text-align: center;
}

}

@media (min-width: 900px) {

  .ann {
    width:150px;
    height:150px;
  }

  .contact {
    margin-top: 8em;
  }
}


@media (min-width: 1200px) {


}
